body{
  margin: auto;
}
.logo{
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 31px;

}
.logo span{
  padding-left: 20px;
}
nav span{
  display: inline;
  margin: 20px 20px;

}
header nav{
  padding-right: 40px;

}
a{
  color: black;
}
header{
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  font-family: Verdana;
  border: 1px solid black;
  font-size: 15px;
  font-weight: bold;
  z-index: 1;
  height: 80px;
  background-color: white;

}
.logo span{
  color: mediumaquamarine;
}
/*container coding*/
.content{
  display: flex;
  padding-top: 116px;
  margin: 0 auto 72px auto;
  width: 1232;
}
.column{
  margin-right: 32px;
}
.column.large{
  width: 630px;
}
.column.medium{
  width: 300px;
}
.column.small{
  width: 240px;
}
div{

}
.lead-story .img-content{
  width: 630px;

  text-align: left;
  height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
}
.earth.img-content{
  justify-content: center;
  height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png")
}
.photo.img-content{
  height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}
.cat.img-content{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  height: 300px;
}
.img-content{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;

}
.stories .text-content{
  height: 250px;
}
.narratative{
  margin-top: 16px;
}
p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.stories{
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
.story{
  display: flex;
  flex-direction: column;
  width: 300px;
}
.new-bites h3{
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.new-bites span{
  border: 1px solid black;
  background-color: whitesmoke;
  color: dimgray;
  display: block;
  padding: 20px 10px;
}
.space{
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
